/* Normal Weight */
@font-face {
  font-family: "SF-New-Republic";
  src: url("../assets/fonts/SF\ New\ Republic.ttf") format("truetype"),
    url("../assets/fonts/SF\ New\ Republic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Bold Weight */
@font-face {
  font-family: "SF-New-Republic";
  src: url("../assets/fonts/SF\ New\ Republic\ Bold.ttf") format("truetype"),
    url("../assets/fonts/SF\ New\ Republic\ Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
