/* BODY */
body {
  background-color: var(--CLR-WHITE);
  min-height: 100vh;
  overflow-x: hidden;
}

/* HEADER */
header {
  width: 100%;
  height: 10rem;
  z-index: 99;
  position: relative;
  background-color: var(--CLR-WHITE);
  padding: 2rem 0;
}

main {
  z-index: 1;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo {
  width: 15rem;
}
.menuIcon {
  display: none;
}
.nav-containerMobile {
  display: none;
}
.nav-container {
  display: flex;
  align-items: center;
}
.navbar-listContainer {
  display: flex;
  align-items: center;
}
.nav-listItem {
  padding: 10px 25px;
  font-size: 1.7rem;
}
.pegada {
  font-size: 2.2rem;
  color: var(--ROSE);
  display: flex;
  align-items: center;
  gap: 7px;
}
.navbar-button {
  background-color: var(--BLUE);
  border-radius: 4px;
}
.navbar-button a {
  color: var(--CLR-WHITE);
  padding: 15px 40px;
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  gap: 7px;
}

/* MAIN */
.wpp {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: var(--GREEN);
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 999;
}

#home {
  width: 100%;
}
.bg-catMobile {
  display: none;
}
#home .bg-cat {
  width: 100%;
  margin-top: -8rem;
}

.home-content {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.content {
  position: absolute;
  top: 30%;
  left: 20%;
}

.title-h1 {
  font-family: "SF-New-Republic";
  color: var(--TITLE);
  font-size: 4rem;
}
.adotar {
  margin-top: 20px;
  background-color: var(--BLUE);
  border-radius: 4px;
  width: 70%;
}
.adotar a {
  color: var(--CLR-WHITE);
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  gap: 7px;
}

.ball-container {
  display: flex;
  align-items: center;
  gap: 7px;
  z-index: 5;
  margin-top: -80px;
}

.ball-container .ball {
  border: 1px solid white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.ball-container .full {
  background-color: white;
  cursor: pointer;
}
/*ABOUUT*/
#about {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-header {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.about-header button a {
  padding: 10px 40px;
  background-color: var(--ROSE);
  border-radius: 5px;
  color: var(--CLR-WHITE);
  cursor: pointer;
}
.about-title {
  font-family: "SF-New-Republic";
  font-size: 3rem;
  color: var(--TITLE);
  text-align: center;
  padding: 10px;
}
.about-content {
  display: flex;
  gap: 20px;
  width: 90%;
  padding: 30px;
  align-items: center;
  justify-content: space-between;
}
.about-infos-left {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  gap: 150px;
}
.about-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.about-infos-left p {
  font-size: 13px;
}
.about-icons {
  padding: 20px;
  background-color: var(--ROSE);
  border-radius: 50%;
}
.about-icons img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.about-ball {
  width: 340px;
  height: 340px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #ff8e8a3f, #99555300);
}
.about-ball2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 50%;
  width: 280px;
  height: 280px;
  background-color: var(--ROSE);
}
.about-ball-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem;
}
.about-cat {
  width: 35%;
  margin-bottom: 15px;
}
/* .about-ball img {
  margin-bottom: 15px;
} */
.about-ball p {
  color: var(--CLR-WHITE);
  text-align: center;
  font-size: 13px;
  margin-bottom: 20px;
}
.about-img {
  display: flex;
  justify-self: flex-end;
  margin-bottom: -5px;
  width: 25%;
}
.about-infos-right {
  display: flex;
  justify-content: center;
  gap: 150px;
  flex-direction: column;
}
.about-right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.about-infos-right p {
  font-size: 13px;
}
.about-footer {
  margin-bottom: 40px;
}

.about-footer a {
  color: var(--CLR-WHITE);
  background-color: var(--BLUE);
  border-radius: 5px;
  padding: 20px 50px;
  display: flex;
  font-size: 1.5rem;
  gap: 7px;
  text-align: center;
}

/*HELP*/
#help {
  background-color: var(--ROSE);
  width: 100%;
  min-height: 100vh;
  padding-top: 30px;
}
.help-header {
  text-align: center;
  margin: auto;
}
.help-header h2 {
  color: var(--CLR-WHITE);
  font-size: 40px;
  font-family: "SF-New-Republic";
  margin-bottom: 30px;
}
.help-header select {
  height: 50px;
  border-radius: 4px;
  border: 1px solid var(--CLR-WHITE);
  background-color: var(--ROSE);
  color: var(--CLR-WHITE);
  font-size: 16px;
  margin: 0 10px 30px 10px;
  padding: 0 45px;
}
.help-button {
  border-radius: 5px;
  background-color: var(--BLUE);
  border: 1px solid var(--BLUE);
  height: 50px;
  margin: 0 10px 30px 10px;
}

.help-button a {
  padding: 15px 40px;
  font-size: 16px;
  color: var(--CLR-WHITE);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.help-cat {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.help-cats {
  width: 100%;
  height: auto;
}

.help-content {
  max-width: 25%;
  text-align: center;
}
.help-namecat {
  margin-top: -40px;
  width: 160px;
  margin-left: 120px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.help-namecat h3 {
  color: var(--CLR-WHITE);
  font-size: 20px;
}
.help-namecat p {
  color: var(--CLR-WHITE);
  display: flex;
  align-items: center;
  justify-content: center;
}
.help-namecat img {
  margin-right: 5px;
}

.help-gen {
  width: min-content;
  padding: 15px;
  border-radius: 30px;
  background-color: var(--BLUE);
  margin-left: 20px;
  margin-top: -65px;
  position: relative;
  /* -webkit-box-shadow: 127px 200px 75px -70px rgba(18, 104, 174, 1); */
  /* -moz-box-shadow: 127px 200px 75px -70px rgba(18, 104, 174, 1); */
  /* box-shadow: 127px 200px 75px -70px rgba(18, 104, 174, 1); */
  box-shadow: 30px 30px 100px -10px rgba(18, 104, 174, 1);
}
.help-gen img {
  width: 45px;
  height: 60px;
}
.help-name {
  margin-top: 10px;
}

.help-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  flex-direction: column;
}
.help-buttonfooter {
  background: none;
  border: none;
}

.help-buttonfooter a {
  color: var(--CLR-WHITE);
  background-color: var(--ROSE);
  border-radius: 10px;
  display: flex;
  width: 300px;
  height: 9vh;
  gap: 10px;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--CLR-WHITE);
}
.help-footerimg {
  width: 100%;
  margin-bottom: -2px;
  margin-top: 40px;
}
/*NOTICES*/
.notices-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
  gap: 30px;
}
.notices-header h2 {
  font-family: "SF-New-Republic";
  font-size: 30px;
  color: var(--TITLE);
}
.notices-header {
  font-size: 13px;
  margin-bottom: 90px;
}
.notices-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.notices-content-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.notices-content-right,
.notices-content-left {
  width: 50%;
}

.notices-content-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.notices-degrade {
  margin-bottom: -120px;
  z-index: 99;
  border-radius: 10px;

  background-image: linear-gradient(to right, #1250aee0, #99555300);
}
.notices-content-btn {
  z-index: 99;
  width: 465px;
  height: 10vh;
  background-color: var(--BLUE);
  color: var(--CLR-WHITE);
  font-family: "SF-New-Republic";
  font-size: 25px;
  border-radius: 10px;
  margin: 10px;
}
.notices-content-btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 9vh;
  background-color: var(--BLUE);
  color: var(--CLR-WHITE);
  font-size: 16px;
  border-radius: 7px;
  gap: 8px;
  margin-right: -10px;
  position: absolute;
  margin-top: 450px;
}
.img-notices {
  width: 100%;
  margin-bottom: -3px;
}

#question {
  width: 100%;
  min-height: 100vh;
  background-color: #ffe7e7;
  position: relative;
  border: 1px solid #ffe7e7;
}

.pegada-left,
.pegada-right {
  width: 300px;
}

.pegada-right {
  position: absolute;
  bottom: 10px;
  right: -80px;
  transform: rotate(315deg);
}
.pegada-left {
  position: absolute;
  top: -50px;
  left: -80px;
  transform: rotate(135deg);
}
.question-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.question-header img {
  width: 30px;
  height: 30px;
  margin-top: 80px;
  margin-bottom: 5px;
}
.question-header h2 {
  font-family: "SF-New-Republic";
  font-size: 35px;
  color: var(--TITLE);
}
.question-content {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 70px;
}
.question-conteiner {
  display: flex;
  align-items: center;
  justify-content: first baseline;
  width: 100%;
  height: 10vh;
  background-color: var(--CLR-WHITE);
  border-radius: 6px;
}
.question-conteiner p {
  color: #214a696e;
  margin: 10px;
}
.question-conteiner .question-title {
  color: #1a1442;
  font-size: 15px;
  width: 90%;
}
.question-conteiner img {
  margin-right: 15px;
  cursor: pointer;
}
.question-conteiner-active {
  width: 100%;
  height: 30vh;
  background-color: var(--ROSE);
  border-radius: 6px;
}
.question-active {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.question-conteiner-active p {
  color: #ffffffc2;
  margin: 10px;
}
.question-conteiner-active .question-title {
  color: var(--CLR-WHITE);
  font-size: 15px;
  width: 90%;
}
.question-conteiner-active img {
  margin-right: 15px;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.question-resp {
  font-size: 15px;
}
.question-bg {
  position: absolute;
  width: 100%;
  margin-top: -10px;
}
/*DEPOIMENTOS*/

#depoimentos {
  width: 100%;
}

.aspas-depoimentos {
  top: 150px;
  width: 250px;
  position: relative;
}
.depoimentos-infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -60px;
  margin-bottom: 100px;
  position: relative;
}
.depoimentos-infos .chevron {
  cursor: pointer;
}
.depoimentos-infos h1 {
  font-family: "SF-New-Republic";
  color: var(--TITLE);
  font-size: 30px;
}
.depoimentos-infos p {
  color: #1a1442;
  font-size: 13px;
  /* margin-top: 15px; */
}
.depoimentos {
  margin-left: 250px;
}
.depoimentos-people {
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  height: 230px;
  text-align: center;
  /* -webkit-box-shadow: 127px 200px 75px -70px  #ff8c8c; */
  /* -moz-box-shadow: 127px 200px 75px -70px  #ff8c8c; */
  /* box-shadow: 127px 200px 75px -70px  #ff8c8c; */
  box-shadow: 0px 0px 100px 0px #ff8c8c;
}
.depoimentos-people.anaclara {
  position: absolute;
  right: -100px;
}
.depoimentos-peoplecontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.depoimentos-peoplecontainer img {
  width: 60px;
  height: 60px;
}
.depoimentos-peoplecontainer .description-depoimentos {
  margin-top: 13px;
}
.img-border {
  padding: 10px 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, #ff8e8a3f, #99555300);
  margin-top: -60px;
  margin-bottom: 15px;
}
.depoimentos-peoplecontainer h3 {
  font-size: 15px;
}
.depoimentos-peoplecontainer p {
  /* margin: 10px; */
  font-size: 15px;
  /* margin-bottom: 30px; */
}

#partners {
  width: 100%;
  padding-top: 50px;
  position: relative;
}

.partners-title {
  font-family: "SF-New-Republic";
  font-size: 4.5rem;
  text-align: center;
}

.partners-line {
  position: absolute;
  top: -350px;
  z-index: -3;
}

.partners-team {
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.partners-team .partners-logo {
  width: 200px;
}

.partners-ball-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
  gap: 7px;
  z-index: 5;
}

.partners-ball-container .ball-partners {
  border: 1px solid #ff8b87;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.partners-ball-container .ball-partners-full {
  background-color: #ff8b87;
  cursor: pointer;
}

#contact {
  width: 100%;
  position: relative;
  padding-top: 50px;
}

.contact-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 7rem;
}
.contact-content .cat {
  width: 30%;
}

.contact-bg {
  position: absolute;
  z-index: -3;
}
.contact-bg-triangule {
  position: absolute;
  z-index: -2;
  right: -200px;
  width: 800px;
}

.contact-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form-title {
  font-size: 4.5rem;
  font-family: "SF-New-Republic";
  font-weight: bold;
  color: #fff;
}

.form-input {
  border: 1px solid #fff;
  border-radius: 6px;
  background: transparent;
  height: 64px;
  padding: 18px 26px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 7px;
  width: 500px;
}

.form-input.error {
  border: 1px solid #ec826b;
}
.form-alert {
  background-color: #054f89;
  border-radius: 5px;
  padding: 2px 26px;
  width: 500px;
  margin-bottom: 7px;
}
.form-alert span,
.form-alert span b {
  color: #fff;
  font-size: 1.2rem;
}

.textarea {
  height: 130px;
  resize: none;
  margin-bottom: 40px;
}

.form-input::placeholder {
  color: #fff;
  font-weight: 500;
}
.textarea::placeholder {
  color: #fff;
}

.submit-btn {
  background-color: #014c87;
  border-radius: 8px;
  height: 100px;
  width: 500px;
}

.submit-btn p {
  font-size: 30px;
  color: #fff;
}
.submit-btn img {
  width: 20px;
}

.contact-help {
  width: 100%;
  min-height: 100vh;
  background-color: #e7807d;
  position: relative;
  z-index: -5;
  padding-top: 20rem;
}

.contact-help-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-help-content .title {
  font-size: 3rem;
  color: #fff;
  font-family: "SF-New-Republic";
  z-index: 34;
}

.contact-help-cards {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  margin-top: 80px;
}

.contact-help-cards .contact-help-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 370px;
  height: 250px;
  border-radius: 9px;
}
.contact-help-cards .contact-help-card.main-card {
  background-color: #014c87;
}

.contact-help-card .divider-contact {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact-help-card .title-help-card {
  font-weight: 600;
  font-size: 2.5rem;
  color: #fff;
}
.contact-help-card .msg-help-card,
.contact-help-card .footer-help-card {
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

.contact-help-content .newsletter {
  margin-top: 20rem;
  text-align: center;
}
.newsletter .newsletter-title {
  font-size: 2.5rem;
  color: white;
  font-weight: 600;
}

.newsletter .newsletter-subtitle {
  font-size: 1.5rem;
  color: white;
}

.newsletter .newsletter-input {
  margin-top: 30px;
  margin-bottom: 90px;
  font-size: 1.5rem;
  color: white;
  border: 1px solid #fff;
  height: 54px;
  width: 100rem;
  border-radius: 5px;
  background-color: transparent;
  padding: 16px 24px;
}

.newsletter .newsletter-input::placeholder {
  color: white;
}

footer {
  width: 100%;
}

footer .footer-content {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 10px;
}

footer .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

footer .logo .cat {
  margin-top: -30px;
}

footer .nav-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
}

footer .nav-footer {
  font-size: 1.7rem;
  font-weight: 500;
}
@media (max-width: 999px) {
  header {
    height: 6rem;
    background-color: var(--CLR-WHITE);
    padding: 1rem 0;
    position: fixed;
    z-index: 99;
  }
  .nav-container {
    display: none;
  }
  .logo {
    width: 100px;
    margin-left: -50px;
  }
  .menuIcon {
    display: block;
    background: none;
    margin-right: -50px;
  }
  .menuIcon img {
    width: 40px;
  }
  .nav-listItem {
    font-size: 1.8rem;
    padding: 0px 25px;
  }

  .nav-containerMobile {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 0 0 10px 0;
    background-color: var(--CLR-WHITE);
    border-bottom: 1px solid var(--BLUE);
  }
  .navbar-listContainer {
    margin-top: 10px;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 10px;
  }
  .navbar-button a {
    padding: 10px 19px;
    font-size: 1.8rem;
  }
  .open.nav-containerMobile {
    display: flex;
  }
  /*HOME*/
  .wpp {
    width: 53px;
    height: 53px;
    background-color: var(--GREEN);
    right: 10px;
    bottom: 10px;
  }
  .bg-cat {
    display: none;
  }
  .bg-catMobile {
    display: flex;
    width: 100%;
    height: 105vh;
  }
  .home-content .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content {
    position: absolute;
    top: 120px;
    margin: auto;
    left: auto;
  }
  .content h1 {
    font-size: 30px;
    text-align: center;
  }
  .adotar {
    margin-top: 16px;
  }
  .adotar a {
    font-size: 17px;
    padding: 15px 20px;
  }
  .ball {
    display: none;
  }
  /*ABOUT*/
  .about-header {
    margin: auto;
    flex-direction: column-reverse;
  }
  .about-header h2 {
    font-size: 18px;
    margin: 100px 6px 0px;
  }
  .about-content {
    flex-direction: column;
    margin-top: 10px;
  }
  .about-infos-left {
    display: flex;
    gap: 100px;
    flex-direction: row;
    text-align: center;
  }
  .about-left {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin: 5px;
  }
  .about-infos-left p {
    font-size: 11px;
  }
  .about-icons {
    padding: 15px;
    background-color: var(--ROSE);
    border-radius: 50%;
  }
  .about-icons img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
  }

  .about-ball {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #ff8e8a3f, #99555300);
    margin-top: -20px;
    margin-bottom: -20px;
  }
  .about-ball2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    background-color: var(--ROSE);
  }
  .about-ball-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
  }
  .about-cat {
    width: 20%;
    margin-bottom: 15px;
  }
  .about-ball p {
    color: var(--CLR-WHITE);
    text-align: center;
    font-size: 11px;
    margin-bottom: 20px;
  }
  .about-img {
    display: flex;
    justify-self: flex-end;
    margin-bottom: -5px;
    width: 25%;
  }
  .about-infos-right {
    display: flex;
    gap: 100px;
    flex-direction: row;
    text-align: center;
  }
  .about-right {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 5px;
    margin: 5px;
  }
  .about-infos-right p {
    font-size: 11px;
  }
  .about-footer {
    margin-bottom: 20px;
  }

  .about-footer a {
    color: var(--CLR-WHITE);
    background-color: var(--BLUE);
    border-radius: 5px;
    padding: 10px 30px;
    display: flex;
    font-size: 1.3rem;
    gap: 7px;
    text-align: center;
  }
  /*HELP*/
  .help-header h2 {
    font-size: 25px;
  }
  .help-header .input {
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .input select {
    font-size: 15px;
  }
  .help-button {
    padding: 10px 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: -10px;
  }
  .help-cat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .help-content {
    display: flex;
    align-items: center;
    margin: 0;
    margin: 10px;
  }
  .help-cats {
    width: 150px;
    height: auto;
    border-radius: 20px;
  }
  .help-name .help-gen {
    padding: 7px 7px;
    margin-left: -25px;
    margin-top: -80px;
  }
  .help-gen img {
    width: 20px;
    height: 25px;
  }
  .help-namecat {
    width: 140px;
    margin-left: 15px;
    margin-top: 5px;
  }
  /*notices*/
  .notices-header {
    margin-bottom: 10px;
  }

  .notices-header h2 {
    font-size: 18px;
  }
  .notices-header p {
    font-size: 14px;
    margin: 0 15px;
  }
  .notices-content-container {
    display: flex;
    flex-direction: column;
  }
  .notices-content-right,
  .notices-content-left {
    width: 100%;
  }
  .notices-content-right {
    position: relative;
  }
  .notices-content-right .img-notices {
    display: none;
  }

  .notices-degrade {
    margin-right: 200px;
    background-color: var(--CLR-WHITE);
  }
  .notices-degrade,
  .notices-content-btn {
    width: 150px;
    height: 10vh;
    margin: 8px;
    z-index: 1;
  }
  .notices-content-btn {
    font-size: 14px;
  }
  .notices-content-btn2 {
    margin-top: 350px;
  }
  /*QUESTIONS*/
  #question {
    margin-top: 100px;
  }
  .pegada-left,
  .pegada-right {
    width: 100px;
    height: 100px;
  }
  .pegada-left {
    top: -20px;
    left: -15px;
  }
  .pegada-right {
    bottom: -30px;
    right: 20px;
  }
  .question-header h2 {
    text-align: center;
    font-size: 25px;
  }
  .question-content {
    width: 90%;
  }
  .question-conteiner .question-title {
    font-size: 13px;
  }
  .question-active .question-title {
    font-size: 13px;
  }
  .question-resp {
    font-size: 12px;
  }
  .question-bg {
    margin-top: -2px;
  }
  /*DEPOIMENTOS*/
  .aspas-depoimentos {
    top: 50px;
    width: 150px;
    position: relative;
  }
  .depoimentos-infos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: -30px;
    margin-bottom: 100px;
    position: relative;
    text-align: center;
  }
  .depoimentos-infos h1 {
    font-size: 30px;
  }
  .depoimentos-infos p {
    font-size: 13px;
  }
  .depoimentos {
    margin: auto;
  }
  .chevron {
    display: none;
  }
  .depoimentos-people {
    border-radius: 30px;
    width: 70%;
    height: 200px;
    margin-top: 50px;
  }
  .depoimentos-people.anaclara {
    position: absolute;
    right: -100px;
  }
  .depoimentos-peoplecontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .depoimentos-peoplecontainer img {
    width: 60px;
    height: 60px;
  }
  .depoimentos-peoplecontainer .description-depoimentos {
    margin-top: 13px;
  }
  .img-border {
    padding: 10px 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, #ff8e8a3f, #99555300);
    margin-top: -60px;
    margin-bottom: 15px;
  }
  .depoimentos-peoplecontainer h3 {
    font-size: 15px;
    margin-top: -15px;
  }
  .depoimentos-peoplecontainer p {
    font-size: 15px;
    margin-bottom: -5px;
  }
  /*PARTNERS*/
  #partners {
    width: 100%;
    padding-top: 50px;
    position: relative;
  }

  .partners-title {
    font-family: "SF-New-Republic";
    font-size: 2.5rem;
    text-align: center;
  }

  .partners-line {
    position: absolute;
    top: 0px;
    z-index: -3;
    width: 100%;
  }

  .partners-team {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .partners-team .partners-logo {
    width: 60px;
  }
  .partners-ball-container {
    margin-top: 40px;
  }
  /*CONTACT*/
  #contact {
    background-color: #1168ad;
    z-index: 1;
    margin-top: 20px;
  }
  .contact-bg {
    display: none;
  }
  .contact-bg-triangule {
    height: 100vh;
    width: 100%;
    margin-right: 200px;
    position: absolute;
  }
  .cat {
    width: 40px;
    position: absolute;
    top: 25px;
    left: 0;
    z-index: -1;
  }
  .contact-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    margin-top: 7rem;
  }

  .contact-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-form-title {
    font-size: 3rem;
    margin-bottom: 40px;
    margin-top: -84px;
    font-family: "SF-New-Republic";
    font-weight: bold;
    text-align: center;
    color: #fff;
  }

  .form-input {
    background-color: #014d87d8;
    height: 44px;
    width: 80%;
  }

  .form-input.error {
    border: 1px solid #ec826b;
  }
  .form-alert {
    background-color: #000000;
    border-radius: 5px;
    padding: 2px 26px;
    width: 80%;
    margin-bottom: 7px;
  }
  .form-alert span,
  .form-alert span b {
    color: #fff;
    font-size: 1rem;
  }

  .textarea {
    height: 130px;
    resize: none;
    margin-bottom: 40px;
  }

  .form-input::placeholder {
    color: #fff;
    font-weight: 500;
  }
  .textarea::placeholder {
    color: #fff;
  }
  .submit-btn {
    margin-top: -20px;
    border-radius: 8px;
    height: 50px;
    width: 80%;
    margin-bottom: 40px;
  }
  .submit-btn p {
    font-size: 15px;
  }
  .submit-btn img {
    width: 15px;
  }
  /*CONTACT HELP*/
  .contact-help {
    width: 100%;
    min-height: 100vh;
    background-color: #e7807d;
    position: relative;
    z-index: -5;
    padding-top: 5rem;
  }

  .contact-help-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
  }

  .contact-help-content .title {
    font-size: 3rem;
    text-align: center;
    color: #fff;
    font-family: "SF-New-Republic";
    z-index: 34;
  }

  .contact-help-cards {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 50px;
    gap: 50px;
  }

  .contact-help-cards .contact-help-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 250px;
    height: 200px;
    border-radius: 9px;
  }
  .contact-help-cards .contact-help-card.main-card {
    background-color: #014c87;
  }

  .contact-help-card .divider-contact {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .contact-help-card .title-help-card {
    font-weight: 600;
    font-size: 2rem;
    margin-top: 10px;
    color: #fff;
  }
  .contact-help-card .msg-help-card,
  .contact-help-card .footer-help-card {
    font-size: 1.5rem;
    color: #fff;
    margin-top: 10px;
    text-align: center;
  }

  .contact-help-content .newsletter {
    margin-top: 10rem;
    text-align: center;
  }
  .newsletter {
    width: 100%;
  }
  .newsletter .newsletter-title {
    font-size: 3rem;
  }

  .newsletter .newsletter-subtitle {
    font-size: 1.5rem;
    margin-top: 10px;
  }

  .newsletter .newsletter-input {
    font-size: 1.5rem;
    height: 54px;
    width: 80%;
  }
  /*FOOTER*/
  footer {
    width: 100%;
  }

  footer .footer-content {
    width: 100%;
    height: 7vh;
    background-color: #fff;
  }

  .logo img {
    margin-left: 15px;
    width: 130px;
  }

  footer .cat {
    display: none;
  }

  footer .nav-footer-container {
    display: none;
  }
}
